*{
    margin: 0;
}

body{
    background-color: #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div {
    display: grid;
    width: 25rem;
    height: 25rem;
    border-radius: 2rem;
    background-color: #fbfbfb;
    padding: 2rem;
}

h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

label{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}


input{
    border-radius: 5px;
    width: 20rem;
    height: 1.8rem;
    margin-top: -70px;
    margin-left: 35px;
    border: none;
    border-left: 6px solid blue;
}

button{
    width: 8rem;
    height: 3rem;
    margin-left: 8rem;
    margin-top: -90px;
    border-radius: 20px;
    border: none;
    outline: solid 3px rgb(121, 109, 225);
    box-shadow: 20px;
    background-color: rgba(120, 109, 225, 0.393);
    font-size: 1.2rem;
}



